.duckSeason {
  width: 1269px;
  height: 172px;
  margin-left: auto;
  margin-right: auto;
}

.emoji {
  width: 358px;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
}
