.faqClouds {
  width: 100%;
  transform: rotate(180deg);
  margin-top: -350px;
}

.triangles {
  clip-path: polygon(0 20%, 50% 100%, 100% 20%, 100% 100%, 0 100%);
  width: 100%;
  height: 350px;
  background-color: #fff;
  transform: rotate(180deg);
  margin-bottom: -350px;
}

.cloudsImg {
  position: relative;
  transform: scale(-1, 1);
}

.faqContainer {
  background-color: #fff;
}

.faqLogo {
  width: 320px;
  height: 170px;
  padding-top: 170px;
  margin-right: auto;
  margin-left: auto;
}

.faqText {
  padding-top: 250px;
  width: 1057px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.faqTextBlack {
  font-family: VCR OSD Mono [RUS by Daymarius];
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 21px;
  text-align: justify;
  text-transform: uppercase;
  color: #000000;
}

.faqTextBasic {
  font-family: VCR OSD Mono [RUS by Daymarius];
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 21px;
  text-align: justify;
  text-transform: uppercase;

  color: #7d4f3b;

  padding-bottom: 20px;
}

.footerText {
  width: 715px;
  height: 71px;

  font-family: VCR OSD Mono [RUS by Daymarius];
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: justify;
  text-transform: uppercase;

  color: #7d4f3b;
}
.flexFooter {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}
.footer {
  margin-top: 100px;
  padding-bottom: 100px;
}

.logoTBr {
  padding-bottom: 20px;
}

.microDuck {
  padding-left: 950px;
  margin-top: -90px;
}
