.background {
  background-image: url(../public/third/MORNING_BACKGROUND.png);
  background-blend-mode: soft-light;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;

  background-color: rgb(18, 31, 18);
  width: 100%;
  min-height: 100vh;
}
.grass {
  margin-top: -100px;
  width: 100%;
  min-width: 100%;
  position: relative;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 685px;
  color: white;
  height: 100%;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-items: center;
  margin-right: auto;
}

.separator {
  display: flex;
  gap: 24px;
  margin: 54px 0px;
}
.separatorWrapper {
  min-width: 19px;
  width: 19px;
  max-width: 19px;
  position: relative;
  min-height: 20px;
}
.textUpper {
  font-size: 24px;
  line-height: 24px;
  font-style: "Regular";
}

.textLower {
  font-size: 24px;
}

.imageWrapper {
  margin-left: -30px;
}

.ticketStart {
  transition: all 0.7s linear;
  margin-left: 10px;
}

.bookWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.textHighlight {
  color: #d7b98a;
}

.animatedTicketContainer {
  max-width: 500px;
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  margin-top: 100px;
  animation: shake 0.4s linear;
  animation-iteration-count: infinite;
}
.ticketContainer {
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  width: auto;
  margin-top: 100px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
}

.invite {
  margin-top: 4%;
  max-width: 590px;
}
