.background {
  background-image: url(../public/third/MORNING_BACKGROUND.png);
  background-blend-mode: soft-light;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: top -60px right 0px;

  background-color: rgb(30, 39, 26);
  width: 100%;
  min-height: 100vh;
}

.grad {
  background-image: url(../public/third/grad.png);
  background-position: 0px -300px;
}

.thirdText {
  text-align: center;
}

.grass {
  width: 100%;
  min-width: 100%;
  position: relative;
  z-index: 1;
}

.columns {
  display: flex;
  margin-top: 71px;
  margin-left: 0;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  max-width: 685px;
  color: white;
  height: 100%;
  padding-top: 30px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 0;
  padding-top: 80px;
  padding-left: 195px;
  width: 100%;
}

.heyLogo {
  margin-bottom: 20px;
}

.separator {
  display: flex;
  gap: 24px;
  margin: 54px 0px;
}
.separatorWrapper {
  min-width: 19px;
  width: 19px;
  max-width: 19px;
  position: relative;
  min-height: 20px;
}

.thirdText {
  width: 100%;
}

.txt {
  text-align: justify;
}

.textUpper {
  font-size: 24px;
  line-height: 24px;
  font-style: "Regular";
}

.textLower {
  font-size: 24px;
}

.imageWrapper {
  position: relative;
  margin-left: -24px;
  height: 100%;
  max-height: 150px;
}

.ticketCutted {
  position: relative;
  transition: all 0.7s linear;
  margin-left: 10px;
  height: 100%;
}

.bookWrapper {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  overflow: hidden;
  background-image: url("../public/third/BOOK_FULL.png");
  background-size: cover;
  min-width: 500px;
  margin-top: 50px;
}

.textHighlight {
  color: #d7b98a;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
}

.invite {
  margin-top: 0%;
  max-width: 590px;
  margin-bottom: -40px;
  margin-left: 100px;
}

.button {
  background-color: #493b2d;
  max-width: 371px;
  width: 371px;
  height: 81px;
  max-height: 81px;
  border-radius: 14px;
  /* border: 1px solid darken(red, 4%); */

  -moz-box-shadow: 0 4px 0px #f4d09c;
  -webkit-box-shadow: 0 4px 0px #f4d09c;
  box-shadow: 0 4px 0px #f4d09c;
  margin-left: auto;
  margin-right: auto;
  font-size: 33px;
  color: #f4d09c;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  margin-top: 47px;
}

.button:active {
  box-shadow: none;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.miniGrad {
  min-height: 230px;
  background: linear-gradient(rgba(40, 48, 32, 1), rgba(41, 49, 37, 0.1));
}

.txtBtn {
  margin-top: -200px;
}

.rightTicketPart {
  margin-left: -28px;
  transition: all 1s linear;
}
.ticketFrame {
  z-index: 3;
  cursor: pointer;
  display: flex;
  max-height: 160px;
  margin-top: 50px;
}

.animatedTicketFrame {
  z-index: 3;

  cursor: pointer;
  display: flex;
  max-height: 160px;
  margin-top: 50px;

  transition: all 1s linear;

  animation: shake 0.4s linear;
  animation-iteration-count: infinite;
}
