.background {
  background-image: url(../public/third/MORNING_BACKGROUND.png);
  background-blend-mode: soft-light;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: top -60px right 0px;

  background-color: rgb(30, 39, 26);
  width: 100%;
  min-height: 100vh;
}

.grad {
  background-image: url(../public/third/grad.png);
  background-position: 0px -300px;
}

.thirdText {
  font-size: 29px;
  text-align: center;
}

.grass {
  margin-top: -100px;
  width: 100%;
  min-width: 100%;
  position: relative;
}

.columns {
  display: flex;
  margin-top: 71px;
  margin-left: 0;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  max-width: 685px;
  color: white;
  height: 100%;
  padding-top: 30px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  /* max-width: 50%; */
  align-items: center;
  margin-right: 0;
  padding-top: 80px;
  padding-left: 195px;
}

.heyLogo {
  margin-bottom: 20px;
}

.separator {
  display: flex;
  gap: 24px;
  margin: 54px 0px;
}
.separatorWrapper {
  min-width: 19px;
  width: 19px;
  max-width: 19px;
  position: relative;
  min-height: 20px;
}

.thirdText {
  width: 100%;
}

.txt {
  text-align: justify;
}

.textUpper {
  font-size: 24px;
  line-height: 24px;
  font-style: "Regular";
}

.textLower {
  font-size: 24px;
}

.imageWrapper {
  margin-left: -30px;
}

.ticketStart {
  transition: all 0.7s linear;
  margin-left: 10px;
}

.bookWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.textHighlight {
  color: #d7b98a;
}

.animatedTicketContainer {
  max-width: 400px;
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  margin-top: 100px;
  animation: shake 0.4s linear;
  animation-iteration-count: infinite;
}
.ticketContainer {
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  width: auto;
  margin-top: 100px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
}

.invite {
  margin-top: 4%;
  max-width: 590px;
  margin-bottom: -40px;
}

.button {
  background-color: #493b2d;
  max-width: 371px;
  width: 371px;
  height: 81px;
  max-height: 81px;
  border-radius: 14px;
  /* border: 1px solid darken(red, 4%); */

  -moz-box-shadow: 0 4px 0px #f4d09c;
  -webkit-box-shadow: 0 4px 0px #f4d09c;
  box-shadow: 0 4px 0px #f4d09c;
  margin-left: auto;
  margin-right: auto;
  font-size: 33px;
  color: #f4d09c;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  margin-top: 47px;
}

.button:active {
  box-shadow: none;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.miniGrad {
  height: 230px;
  background: linear-gradient(rgba(38, 46, 31, 1), rgba(41, 49, 37, 0.1));
}

.txtBtn {
  margin-top: -200px;
}
